header {
    text-align: center;
    margin-bottom: 20px; /* Space between header and quiz container */
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* White text */
    background-color: #18a360; /* Same as your quiz container background */
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3b9ccc, #18a360);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#quiz, #results, #ranking {
    margin-top: 20px;
}

#timer {
    font-weight: bold;
    margin-bottom: 10px;
}

#question {
    font-size: 18px;
    margin-bottom: 10px;
}

#answers button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: black; /* Ensure text color is black */
}

#answers button:hover {
    background-color: #ddd;
}

#results {
    font-weight: bold;
}

#ranking-list {
    list-style-type: none;
    padding: 0;
}

#ranking-list li {
    margin: 5px 0;
}
